@use "variables" as *;
@use "media-queries";

.site-header {
	background-color: $white;

	.ks-site-branding {
		display: flex;
		align-items: center;
		gap: $spacing-xs;

		.site-branding {
			float: none;
			width: unset;
			margin: 0;
			width: 40px;
			height: 40px;
		}

		.site-title {
			font-family: $secondary-font;

			.keepsake {
				color: $primary-pink;
			}
		}
	}
}
