@use 'variables' as *;

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Khula';
    src: url('assets/fonts/Khula/Khula-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $primary-font;
    color: $primary-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    color: $primary-text;
}

.button {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}